/* app css stylesheet */
.current-city {
  padding-top: 10px;
}

.current-city > span {
  font-size: 20px;
}

.current-weather {
  min-width: 240px;
  float: left;
  border: 1px solid #ddd;
}

.current-weather > img {
  padding: 5px;
}

.current-weather > span {
  font-size: 24px;
}
